{% load static %}
<div class="row product-grid-4" id="product-list">
    {% for product in products %}
        {% include 'user_side/product/product_card.html' with product=product %}
    {% empty %}
        <div class="col-12">
            <p>No Products Found Yet</p>
        </div>
    {% endfor %}
</div>

<!-- Pagination -->
{% if products.paginator.num_pages > 1 %}
<div class="pagination-wrapper d-flex justify-content-center">
    <ul class="pagination">
        {% if products.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ products.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&laquo; Previous</a>
            </li>
        {% endif %}

        {% for num in products.paginator.page_range %}
            {% if products.number == num %}
                <li class="page-item active">
                    <span class="page-link">{{ num }}</span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if products.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ products.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Next &raquo;</a>
            </li>
        {% endif %}
    </ul>
</div>

{% endif %}