{% extends 'user_side/user_base.html' %}
{% load static %}

{% block content %}
<main class="container my-5">
    <h1 class="h2 mb-4">Order Placed Successfully</h1>

    {% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Order Details</h5>
            <p><strong>Order ID:</strong> {{ order.order_id }}</p>
            <p><strong>Total Amount:</strong> ${{ order.total_amount }}</p>
            <p><strong>Payment Method:</strong> {{ order.payment_option }}</p>
            <p><strong>Estimated Delivery:</strong> {{ order.estimated_delivery_date }}</p>
        </div>
    </div>

    <a href="{% url 'product:shop-page' %}" class="btn btn-primary mt-3">Continue Shopping</a>
</main>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        {% if messages %}
        const messages = [
            {% for message in messages %}
                "{{ message }}",
            {% endfor %}
        ];
        messages.forEach(message => {
            Swal.fire({
                toast: true,
                position: 'top-right',
                icon: 'success',
                title: message,
                showConfirmButton: false,
                timer: 3000
            });
        });
        {% endif %}
    });
</script>
{% endblock %}
