{% extends 'admin_side/base.html' %}
{% load static %}

{% block title %}Variant Detail - {{ product.product_name }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Variant Detail - {{ product.product_name }}</h1>
    {% for variant in variants %}
    <div class="card mb-4">
        <div class="card-header">
            <h5>{{ variant.product.product_name }} - {{ variant.size }} - {{ variant.colour_name }}</h5>
        </div>
        <div class="card-body">
            <p>Stock: {{ variant.variant_stock }}</p>
            <p>Status: {% if variant.variant_status %}Active{% else %}Inactive{% endif %}</p>
            <p>Colour Code: {{ variant.colour_code }}</p>

            <!-- Display images for this variant -->
            <h6>Images for {{ variant.product.product_name }} - {{ variant.colour_name }}</h6>
            <div class="row">
                {% for image in variant.product_variant_images_set.all %}
                <div class="col-md-3 mb-3">
                    <img src="{{ image.images.url }}" class="img-fluid img-thumbnail" alt="Variant Image">
                </div>
                {% empty %}
                <p>No images available for this variant</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
